src/main/resources/wsdl/no/nav/lib/elsam/np/fault/FaultNpBase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-cons-elsam-np/no/nav/lib/elsam/np/fault">
	<xsd:complexType name="FaultNpBase">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="errorMessage" type="xsd:string"/>
			<xsd:element minOccurs="1" name="errorSource" type="xsd:string"/>
			<xsd:element minOccurs="0" name="rootCause" type="xsd:string"/>
			<xsd:element minOccurs="1" name="dateTimeStamp" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="errorType" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
