src/main/resources/wsdl/no/nav/lib/sak/inf/Oppgave.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons1="http://nav-lib-sak/no/nav/lib/sak/gbo" xmlns:bons3="http://nav-lib-sak/no/nav/lib/sak/fault" xmlns:tns="http://nav-lib-sak/no/nav/lib/sak/inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Oppgave" targetNamespace="http://nav-lib-sak/no/nav/lib/sak/inf">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav-lib-sak/no/nav/lib/sak/inf" xmlns:bons1="http://nav-lib-sak/no/nav/lib/sak/gbo" xmlns:bons3="http://nav-lib-sak/no/nav/lib/sak/fault" xmlns:tns="http://nav-lib-sak/no/nav/lib/sak/inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-lib-sak/no/nav/lib/sak/fault" schemaLocation="../fault/FaultUkjentArbgiver.xsd"/>
            <xsd:import namespace="http://nav-lib-sak/no/nav/lib/sak/fault" schemaLocation="../fault/FaultFeilInput.xsd"/>
            <xsd:import namespace="http://nav-lib-sak/no/nav/lib/sak/fault" schemaLocation="../fault/FaultPersonIkkeFunnet.xsd"/>
            <xsd:import namespace="http://nav-lib-sak/no/nav/lib/sak/gbo" schemaLocation="../gbo/GBOHentFerdigstiltOppgaveListeRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-sak/no/nav/lib/sak/fault" schemaLocation="../fault/FaultIkkeEntydigSaksopprettelse.xsd"/>
            <xsd:import namespace="http://nav-lib-sak/no/nav/lib/sak/fault" schemaLocation="../fault/FaultPersonInaktiv.xsd"/>
            <xsd:import namespace="http://nav-lib-sak/no/nav/lib/sak/gbo" schemaLocation="../gbo/GBOBestillOppgaveRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-sak/no/nav/lib/sak/gbo" schemaLocation="../gbo/GBOFinnOppgaveListeRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-sak/no/nav/lib/sak/gbo" schemaLocation="../gbo/GBOHentOppgaveListeRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-sak/no/nav/lib/sak/gbo" schemaLocation="../gbo/GBOOppgaveListe.xsd"/>
            <xsd:import namespace="http://nav-lib-sak/no/nav/lib/sak/fault" schemaLocation="../fault/FaultOppgaveIkkeFunnet.xsd"/>
            <xsd:import namespace="http://nav-lib-sak/no/nav/lib/sak/gbo" schemaLocation="../gbo/GBOOppgave.xsd"/>
            <xsd:element name="hentOppgave">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentOppgaveRequest" nillable="true" type="bons1:GBOOppgave"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentOppgaveResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentOppgaveResponse" nillable="true" type="bons1:GBOOppgave"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentOppgave_faultOppgaveIkkeFunnet" type="bons3:FaultOppgaveIkkeFunnet"/>
            <xsd:element name="opprettOppgave">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettOppgaveRequest" nillable="true" type="bons1:GBOOppgave"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="opprettOppgaveResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettOppgaveResponse" nillable="true" type="bons1:GBOOppgave"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreOppgave">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreOppgaveRequest" nillable="true" type="bons1:GBOOppgave"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreOppgaveListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreOppgaveListeRequest" nillable="true" type="bons1:GBOOppgaveListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="slettOppgaveListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="slettOppgaveListeRequest" nillable="true" type="bons1:GBOOppgaveListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentOppgaveListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentOppgaveListeRequest" nillable="true" type="bons1:GBOHentOppgaveListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentOppgaveListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentOppgaveListeResponse" nillable="true" type="bons1:GBOOppgaveListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreOppgaveResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreOppgaveResponse" nillable="true" type="bons1:GBOOppgave"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreOppgaveListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreOppgaveListeResponse" nillable="true" type="bons1:GBOOppgaveListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="slettOppgaveListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="slettOppgaveListeResponse" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentFerdigstiltOppgave">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentFerdigstiltOppgaveRequest" nillable="true" type="bons1:GBOOppgave"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentFerdigstiltOppgaveResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentFerdigstiltOppgaveResponse" nillable="true" type="bons1:GBOOppgave"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="finnOppgaveListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnOppgaveListeRequest" nillable="true" type="bons1:GBOFinnOppgaveListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="finnOppgaveListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnOppgaveListeResponse" nillable="true" type="bons1:GBOOppgaveListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="bestillOppgave">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bestillOppgaveRequest" nillable="true" type="bons1:GBOBestillOppgaveRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="bestillOppgaveResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bestillOppgaveResponse" nillable="true" type="bons1:GBOOppgave"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="opprettOppgaveListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettOppgaveListeRequest" nillable="true" type="bons1:GBOOppgaveListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="opprettOppgaveListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettOppgaveListeResponse" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentFerdigstiltOppgaveListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentFerdigstiltOppgaveListeRequest" nillable="true" type="bons1:GBOHentFerdigstiltOppgaveListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentFerdigstiltOppgaveListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentFerdigstiltOppgaveListeResponse" nillable="true" type="bons1:GBOOppgaveListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="FaultPersonIkkeFunnet_element" nillable="true" type="bons3:FaultPersonIkkeFunnet"/>
            <xsd:element name="FaultPersonInaktiv_element" nillable="true" type="bons3:FaultPersonInaktiv"/>
            <xsd:element name="FaultIkkeEntydigSaksopprettelse_element" nillable="true" type="bons3:FaultIkkeEntydigSaksopprettelse"/>
            <xsd:element name="faultUkjentArbgiver_element" nillable="true" type="bons3:FaultUkjentArbgiver"/>
            <xsd:element name="faultFeilInput_element" nillable="true" type="bons3:FaultFeilInput"/>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentOppgaveRequestMsg">
    <wsdl:part element="tns:hentOppgave" name="hentOppgaveParameters"/>
  </wsdl:message>
    <wsdl:message name="hentOppgaveResponseMsg">
    <wsdl:part element="tns:hentOppgaveResponse" name="hentOppgaveResult"/>
  </wsdl:message>
    <wsdl:message name="hentOppgave_faultOppgaveIkkeFunnetMsg">
    <wsdl:part element="tns:hentOppgave_faultOppgaveIkkeFunnet" name="faultOppgaveIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="opprettOppgaveRequestMsg">
    <wsdl:part element="tns:opprettOppgave" name="opprettOppgaveParameters"/>
  </wsdl:message>
    <wsdl:message name="opprettOppgaveResponseMsg">
    <wsdl:part element="tns:opprettOppgaveResponse" name="opprettOppgaveResult"/>
  </wsdl:message>
    <wsdl:message name="lagreOppgaveRequestMsg">
    <wsdl:part element="tns:lagreOppgave" name="lagreOppgaveParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreOppgaveResponseMsg">
    <wsdl:part element="tns:lagreOppgaveResponse" name="lagreOppgaveResult"/>
  </wsdl:message>
    <wsdl:message name="lagreOppgaveListeRequestMsg">
    <wsdl:part element="tns:lagreOppgaveListe" name="lagreOppgaveListeParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreOppgaveListeResponseMsg">
    <wsdl:part element="tns:lagreOppgaveListeResponse" name="lagreOppgaveListeResult"/>
  </wsdl:message>
    <wsdl:message name="slettOppgaveListeRequestMsg">
    <wsdl:part element="tns:slettOppgaveListe" name="slettOppgaveListeParameters"/>
  </wsdl:message>
    <wsdl:message name="slettOppgaveListeResponseMsg">
    <wsdl:part element="tns:slettOppgaveListeResponse" name="slettOppgaveListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentOppgaveListeRequestMsg">
    <wsdl:part element="tns:hentOppgaveListe" name="hentOppgaveListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentOppgaveListeResponseMsg">
    <wsdl:part element="tns:hentOppgaveListeResponse" name="hentOppgaveListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentFerdigstiltOppgaveRequestMsg">
    <wsdl:part element="tns:hentFerdigstiltOppgave" name="hentFerdigstiltOppgaveParameters"/>
  </wsdl:message>
    <wsdl:message name="hentFerdigstiltOppgaveResponseMsg">
    <wsdl:part element="tns:hentFerdigstiltOppgaveResponse" name="hentFerdigstiltOppgaveResult"/>
  </wsdl:message>
    <wsdl:message name="hentFerdigstiltOppgave_faultOppgaveIkkeFunnetMsg">
    <wsdl:part element="tns:hentOppgave_faultOppgaveIkkeFunnet" name="faultOppgaveIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="finnOppgaveListeRequestMsg">
    <wsdl:part element="tns:finnOppgaveListe" name="finnOppgaveListeParameters"/>
  </wsdl:message>
    <wsdl:message name="finnOppgaveListeResponseMsg">
    <wsdl:part element="tns:finnOppgaveListeResponse" name="finnOppgaveListeResult"/>
  </wsdl:message>
    <wsdl:message name="bestillOppgaveRequestMsg">
    <wsdl:part element="tns:bestillOppgave" name="bestillOppgaveParameters"/>
  </wsdl:message>
    <wsdl:message name="bestillOppgaveResponseMsg">
    <wsdl:part element="tns:bestillOppgaveResponse" name="bestillOppgaveResult"/>
  </wsdl:message>
    <wsdl:message name="opprettOppgaveListeRequestMsg">
    <wsdl:part element="tns:opprettOppgaveListe" name="opprettOppgaveListeParameters"/>
  </wsdl:message>
    <wsdl:message name="opprettOppgaveListeResponseMsg">
    <wsdl:part element="tns:opprettOppgaveListeResponse" name="opprettOppgaveListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentFerdigstiltOppgaveListeRequestMsg">
    <wsdl:part element="tns:hentFerdigstiltOppgaveListe" name="hentFerdigstiltOppgaveListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentFerdigstiltOppgaveListeResponseMsg">
    <wsdl:part element="tns:hentFerdigstiltOppgaveListeResponse" name="hentFerdigstiltOppgaveListeResult"/>
  </wsdl:message>
    <wsdl:message name="bestillOppgave_faultIkkeEntydigSaksopprettelseMsg">
    <wsdl:part element="tns:FaultIkkeEntydigSaksopprettelse_element" name="faultIkkeEntydigSaksopprettelse"/>
  </wsdl:message>
    <wsdl:message name="bestillOppgave_faultPersonIkkeFunnetMsg">
    <wsdl:part element="tns:FaultPersonIkkeFunnet_element" name="faultPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="bestillOppgave_faultPersonInaktivMsg">
    <wsdl:part element="tns:FaultPersonInaktiv_element" name="faultPersonInaktiv"/>
  </wsdl:message>
    <wsdl:message name="bestillOppgave_faultUkjentArbgiverMsg">
    <wsdl:part element="tns:faultUkjentArbgiver_element" name="faultUkjentArbgiver"/>
  </wsdl:message>
    <wsdl:message name="bestillOppgave_faultFeilInputMsg">
    <wsdl:part element="tns:faultFeilInput_element" name="faultFeilInput"/>
  </wsdl:message>
    <wsdl:portType name="Oppgave">
    <wsdl:operation name="hentOppgave">
      <wsdl:input message="tns:hentOppgaveRequestMsg" name="hentOppgaveRequest"/>
      <wsdl:output message="tns:hentOppgaveResponseMsg" name="hentOppgaveResponse"/>
      <wsdl:fault message="tns:hentOppgave_faultOppgaveIkkeFunnetMsg" name="faultOppgaveIkkeFunnet"/>
    </wsdl:operation>
        <wsdl:operation name="opprettOppgave">
      <wsdl:input message="tns:opprettOppgaveRequestMsg" name="opprettOppgaveRequest"/>
      <wsdl:output message="tns:opprettOppgaveResponseMsg" name="opprettOppgaveResponse"/>
    </wsdl:operation>
        <wsdl:operation name="lagreOppgave">
      <wsdl:input message="tns:lagreOppgaveRequestMsg" name="lagreOppgaveRequest"/>
            <wsdl:output message="tns:lagreOppgaveResponseMsg" name="lagreOppgaveResponse"/>
    </wsdl:operation>
        <wsdl:operation name="lagreOppgaveListe">
      <wsdl:input message="tns:lagreOppgaveListeRequestMsg" name="lagreOppgaveListeRequest"/>
            <wsdl:output message="tns:lagreOppgaveListeResponseMsg" name="lagreOppgaveListeResponse"/>
    </wsdl:operation>
        <wsdl:operation name="slettOppgaveListe">
      <wsdl:input message="tns:slettOppgaveListeRequestMsg" name="slettOppgaveListeRequest"/>
            <wsdl:output message="tns:slettOppgaveListeResponseMsg" name="slettOppgaveListeResponse"/>
    </wsdl:operation>
        <wsdl:operation name="hentOppgaveListe">
      <wsdl:input message="tns:hentOppgaveListeRequestMsg" name="hentOppgaveListeRequest"/>
      <wsdl:output message="tns:hentOppgaveListeResponseMsg" name="hentOppgaveListeResponse"/>
    </wsdl:operation>
        <wsdl:operation name="hentFerdigstiltOppgave">
      <wsdl:input message="tns:hentFerdigstiltOppgaveRequestMsg" name="hentFerdigstiltOppgaveRequest"/>
      <wsdl:output message="tns:hentFerdigstiltOppgaveResponseMsg" name="hentFerdigstiltOppgaveResponse"/>
      <wsdl:fault message="tns:hentFerdigstiltOppgave_faultOppgaveIkkeFunnetMsg" name="faultOppgaveIkkeFunnet"/>
    </wsdl:operation>
        <wsdl:operation name="finnOppgaveListe">
      <wsdl:input message="tns:finnOppgaveListeRequestMsg" name="finnOppgaveListeRequest"/>
      <wsdl:output message="tns:finnOppgaveListeResponseMsg" name="finnOppgaveListeResponse"/>
    </wsdl:operation>
        <wsdl:operation name="bestillOppgave">
      <wsdl:input message="tns:bestillOppgaveRequestMsg" name="bestillOppgaveRequest"/>
      <wsdl:output message="tns:bestillOppgaveResponseMsg" name="bestillOppgaveResponse"/>
            <wsdl:fault message="tns:bestillOppgave_faultIkkeEntydigSaksopprettelseMsg" name="faultIkkeEntydigSaksopprettelse"/>
            <wsdl:fault message="tns:bestillOppgave_faultPersonIkkeFunnetMsg" name="faultPersonIkkeFunnet"/>
            <wsdl:fault message="tns:bestillOppgave_faultPersonInaktivMsg" name="faultPersonInaktiv"/>
            <wsdl:fault message="tns:bestillOppgave_faultUkjentArbgiverMsg" name="faultUkjentArbgiver"/>
            <wsdl:fault message="tns:bestillOppgave_faultFeilInputMsg" name="faultFeilInput"/>
        </wsdl:operation>
        <wsdl:operation name="opprettOppgaveListe">
      <wsdl:input message="tns:opprettOppgaveListeRequestMsg" name="opprettOppgaveListeRequest"/>
            <wsdl:output message="tns:opprettOppgaveListeResponseMsg" name="opprettOppgaveListeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="hentFerdigstiltOppgaveListe">
      <wsdl:input message="tns:hentFerdigstiltOppgaveListeRequestMsg" name="hentFerdigstiltOppgaveListeRequest"/>
      <wsdl:output message="tns:hentFerdigstiltOppgaveListeResponseMsg" name="hentFerdigstiltOppgaveListeResponse"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
