src/main/resources/wsdl/no/nav/lib/sak/inf/Rettskilder.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons1="http://nav-lib-sak/no/nav/lib/sak/gbo" xmlns:tns="http://nav-lib-sak/no/nav/lib/sak/inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Rettskilde" targetNamespace="http://nav-lib-sak/no/nav/lib/sak/inf">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav-lib-sak/no/nav/lib/sak/inf" xmlns:bons1="http://nav-lib-sak/no/nav/lib/sak/gbo" xmlns:tns="http://nav-lib-sak/no/nav/lib/sak/inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-lib-sak/no/nav/lib/sak/gbo" schemaLocation="../gbo/GBORettskildeListe.xsd"/>
            <xsd:import namespace="http://nav-lib-sak/no/nav/lib/sak/gbo" schemaLocation="../gbo/GBORettskilde.xsd"/>
            <xsd:element name="hentGenerellRettskildeListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentGenerellRettskildeListeRequest" nillable="true" type="bons1:GBORettskilde"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSpesifikkRettskildeListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentSpesifikkRettskildeListeRequest" nillable="true" type="bons1:GBORettskilde"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentGenerellRettskildeListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentGenerellRettskildeListeResponse" nillable="true" type="bons1:GBORettskildeListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSpesifikkRettskildeListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentSpesifikkRettskildeListeResponse" nillable="true" type="bons1:GBORettskildeListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentGenerellRettskildeListeRequestMsg">
    <wsdl:part element="tns:hentGenerellRettskildeListe" name="hentGenerellRettskildeListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentGenerellRettskildeListeResponseMsg">
    <wsdl:part element="tns:hentGenerellRettskildeListeResponse" name="hentGenerellRettskildeListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentSpesifikkRettskildeListeRequestMsg">
    <wsdl:part element="tns:hentSpesifikkRettskildeListe" name="hentSpesifikkRettskildeListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentSpesifikkRettskildeListeResponseMsg">
    <wsdl:part element="tns:hentSpesifikkRettskildeListeResponse" name="hentSpesifikkRettskildeListeResult"/>
  </wsdl:message>
    <wsdl:portType name="Rettskilder">
    <wsdl:operation name="hentGenerellRettskildeListe">
            <wsdl:input message="tns:hentGenerellRettskildeListeRequestMsg" name="hentGenerellRettskildeListeRequest"/>
            <wsdl:output message="tns:hentGenerellRettskildeListeResponseMsg" name="hentGenerellRettskildeListeResponse"/>
        </wsdl:operation>
    <wsdl:operation name="hentSpesifikkRettskildeListe">
      <wsdl:input message="tns:hentSpesifikkRettskildeListeRequestMsg" name="hentSpesifikkRettskildeListeRequest"/>
      <wsdl:output message="tns:hentSpesifikkRettskildeListeResponseMsg" name="hentSpesifikkRettskildeListeResponse"/>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
