src/main/resources/wsdl/no/nav/lib/sak/gbo/GBOArbeidOgAktivitetsutbetaling.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://stelvio-commons-lib/no/nav/gbo"
	targetNamespace="http://nav-lib-sak/no/nav/lib/sak/gbo"
	xmlns:bons1="http://nav-lib-sak/no/nav/lib/sak/gbo">
	<xsd:include schemaLocation="GBOKontering.xsd"></xsd:include>
	<xsd:include schemaLocation="GBOArbeidOgAktivitetsreduksjon.xsd"></xsd:include>
	<xsd:import namespace="http://stelvio-commons-lib/no/nav/gbo"
		schemaLocation="../../../gbo/GBOEndringsInfo.xsd">
	</xsd:import>
	<xsd:complexType name="GBOArbeidOgAktivitetsutbetaling">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="navEnhet"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="fom" type="xsd:string" />
			<xsd:element minOccurs="0" name="tom" type="xsd:string" />
			<xsd:element minOccurs="0" name="dagsats"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="dagsatsEtterSamordning"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="belop" type="xsd:string" />
			<xsd:element minOccurs="0" name="beregningsgrunnlag"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="antallBarnMedStonad"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="arbeidOgAktivitetsreduksjon"
				type="bons1:GBOArbeidOgAktivitetsreduksjon">
			</xsd:element>
			<xsd:element minOccurs="0" name="transaksjonKode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="transaksjonBeskrivelse"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="posteringsdato"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="posteringssats"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="kontering"
				type="bons1:GBOKontering">
			</xsd:element>
			<xsd:element minOccurs="0" name="endringsInfo"
				type="bons0:GBOEndringsInfo">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
