src/main/resources/wsdl/no/nav/lib/sak/gbo/GBOHentStatistikkRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sak/no/nav/lib/sak/gbo">
  <xsd:complexType name="GBOHentStatistikkRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="enhet" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fagomrade" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tidsperiode" type="xsd:string"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
