src/main/resources/wsdl/no/nav/lib/sak/gbo/GBOHentBruttoUtbetalingListeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sak/no/nav/lib/sak/gbo">
	<xsd:complexType name="GBOHentBruttoUtbetalingListeRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="fnr" type="xsd:string"/>
			<xsd:element minOccurs="0" name="fom" type="xsd:string"/>
			<xsd:element minOccurs="0" name="tom" type="xsd:string"/>
			<xsd:element minOccurs="0" name="rettighetKode" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
