src/main/resources/wsdl/no/nav/lib/sak/gbo/GBOHentSakListeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-lib-sak/no/nav/lib/sak/gbo" targetNamespace="http://nav-lib-sak/no/nav/lib/sak/gbo">

	<xsd:include schemaLocation="GBORolleKode.xsd"/>
	<xsd:include schemaLocation="GBOFagsystem.xsd"/>
	<xsd:include schemaLocation="GBOFagomradeKode.xsd"/>
	<xsd:complexType name="GBOHentSakListeRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="brukerId" type="xsd:string"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="fagomradeKodeListe" type="bons0:GBOFagomradeKode">
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="fagsystemListe" type="bons0:GBOFagsystem">
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="rolleKodeListe" type="bons0:GBORolleKode">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
