src/main/resources/wsdl/no/nav/lib/sak/gbo/GBOKontering.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-sak/no/nav/lib/sak/gbo">
	<xsd:complexType name="GBOKontering">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="kapittel"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="post" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="underpost"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="kontostedKode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="artKode"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
