src/main/resources/wsdl/no/nav/lib/sak/gbo/GBOSjekkliste.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://stelvio-commons-lib/no/nav/gbo" xmlns:bons1="http://nav-lib-sak/no/nav/lib/sak/gbo" targetNamespace="http://nav-lib-sak/no/nav/lib/sak/gbo">
	<xsd:include schemaLocation="GBOSjekklisteKolonne.xsd"/>
	<xsd:include schemaLocation="GBOSjekklistelinje.xsd"/>
	<xsd:import namespace="http://stelvio-commons-lib/no/nav/gbo" schemaLocation="../../../gbo/GBOEndringsInfo.xsd">
	</xsd:import>
	<xsd:complexType name="GBOSjekkliste">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="sjekklisteId" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="versjon" type="xsd:string">
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="linjeListe" type="bons1:GBOSjekklistelinje">
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="kolonneListe" type="bons1:GBOSjekklisteKolonne">
			</xsd:element>
			<xsd:element minOccurs="0" name="endringsInfo" type="bons0:GBOEndringsInfo">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
