src/main/resources/wsdl/no/nav/lib/sak/gbo/GBOSjekklistelinje.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-sak/no/nav/lib/sak/gbo"
	xmlns:Q1="http://nav-lib-sak/no/nav/lib/sak/gbo"
	xmlns:bons0="http://nav-lib-sak/no/nav/lib/sak/gbo">
	<xsd:include schemaLocation="GBOSjekklistecelle.xsd"></xsd:include>
	<xsd:complexType name="GBOSjekklistelinje">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="sjekkelistelinjeId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="rekkefolge"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="sjekkelistelinjeKode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="linjeListe"
				type="Q1:GBOSjekklistelinje" maxOccurs="unbounded">
			</xsd:element>
			<xsd:element minOccurs="0" name="celleListe"
				type="Q1:GBOSjekklistecelle" maxOccurs="unbounded">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
