src/main/resources/wsdl/no/nav/lib/sak/gbo/GBOSak.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-sak/no/nav/lib/sak/gbo"
	xmlns:bons0="http://stelvio-commons-lib/no/nav/gbo"
	xmlns:bons1="http://nav-lib-sak/no/nav/lib/sak/gbo">
	<xsd:include schemaLocation="GBOBruker.xsd"></xsd:include>
	<xsd:import schemaLocation="../../../gbo/GBOEndringsInfo.xsd"
		namespace="http://stelvio-commons-lib/no/nav/gbo">
	</xsd:import>
	<xsd:complexType name="GBOSak">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="sakId" type="xsd:string" />
			<xsd:element minOccurs="0" name="fagomradeKode"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="fagsystemKode"
				type="xsd:string" />			<xsd:element minOccurs="0" name="endringsInfo"
				type="bons0:GBOEndringsInfo">
			</xsd:element>
			<xsd:element minOccurs="0" name="sakstypeKode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="statusKode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="oppgaveId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="eksternOppgaveId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="saksbehandlerId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="saksbehandlendeEnhetId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="saksbehandlendeEnhetNavn"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="versjon"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="gjelderListe"
				type="bons1:GBOBruker" maxOccurs="unbounded">
			</xsd:element>
			<xsd:element minOccurs="0" name="fagsystemSaksId"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
