src/main/resources/wsdl/no/nav/lib/sak/gbo/GBOSjekklistecelle.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-sak/no/nav/lib/sak/gbo">
	<xsd:complexType name="GBOSjekklistecelle">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="sjekklistecelleId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="sjekklistecelleKode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="utfort"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="fritekst"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
