src/main/resources/wsdl/no/nav/lib/sto/inf/NorskPensjon.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons1="http://nav-lib-sto/no/nav/lib/sto/gbo" xmlns:tns="http://nav-lib-sto/no/nav/lib/sto/inf/NorskPensjon" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NorskPensjon" targetNamespace="http://nav-lib-sto/no/nav/lib/sto/inf/NorskPensjon">
    <wsdl:types>
    <xsd:schema targetNamespace="http://nav-lib-sto/no/nav/lib/sto/inf/NorskPensjon" xmlns:bons1="http://nav-lib-sto/no/nav/lib/sto/gbo" xmlns:tns="http://nav-lib-sto/no/nav/lib/sto/inf/NorskPensjon" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-lib-sto/no/nav/lib/sto/gbo" schemaLocation="../gbo/GBOHentPensjonsrettighetListeRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-sto/no/nav/lib/sto/gbo" schemaLocation="../gbo/GBOPrivatPensjonsrettighet.xsd"/>
      <xsd:element name="hentPrivatPensjonsrettighetListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentPrivatPensjonsrettighetListeRequest" nillable="true" type="bons1:GBOHentPensjonsrettighetListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPrivatPensjonsrettighetListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentPrivatPensjonsrettighetlisteResponse" nillable="true" type="bons1:GBOPrivatPensjonsrettighet"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentPrivatPensjonsrettighetListeRequestMsg">
    <wsdl:part element="tns:hentPrivatPensjonsrettighetListe" name="hentPrivatPensjonsrettighetListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentPrivatPensjonsrettighetListeResponseMsg">
    <wsdl:part element="tns:hentPrivatPensjonsrettighetListeResponse" name="hentPrivatPensjonsrettighetListeResult"/>
  </wsdl:message>
    <wsdl:portType name="NorskPensjon">
    <wsdl:operation name="hentPrivatPensjonsrettighetListe">
      <wsdl:input message="tns:hentPrivatPensjonsrettighetListeRequestMsg" name="hentPrivatPensjonsrettighetListeRequest"/>
      <wsdl:output message="tns:hentPrivatPensjonsrettighetListeResponseMsg" name="hentPrivatPensjonsrettighetListe1Msg1"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
