src/main/resources/wsdl/no/nav/lib/frg/gbo/GBOBeregningsForhold.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
  <xsd:complexType name="GBOBeregningsForbehold">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="tittel" type="xsd:string"/>
      <xsd:element minOccurs="0" name="beskrivelse" type="xsd:string"/>
      <xsd:element minOccurs="0" name="url" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
