src/main/resources/wsdl/no/nav/lib/frg/gbo/GBOhentNAVAnsattFagomradeListeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
	<xsd:complexType name="GBOhentNAVAnsattFagomradeListeRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="ansattId" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="enhetsId" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
