src/main/resources/wsdl/no/nav/lib/frg/gbo/GBOHentInntektListeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nav-lib-frg/no/nav/lib/frg/gbo"
	targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
	<xsd:include schemaLocation="GBOInntektsTypeKode.xsd" />	<xsd:complexType name="GBOHentInntektListeRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="fnr" type="xsd:string" />
			<xsd:element minOccurs="0" name="inntektsTypeKoder"
				type="bons0:GBOInntektsTypeKode" maxOccurs="unbounded" />
			<xsd:element minOccurs="0" name="fom" type="xsd:string" />
			<xsd:element minOccurs="0" name="tom" type="xsd:string" />
			<xsd:element minOccurs="0" name="kilde" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
