src/main/resources/wsdl/no/nav/lib/frg/gbo/GBOHentTjenestepensjonForholdYtelseRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
  <xsd:complexType name="GBOHentTjenestepensjonForholdYtelseRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="forholdId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ytelseId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
