src/main/resources/wsdl/no/nav/lib/frg/gbo/GBOInntekt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons1="http://stelvio-commons-lib/no/nav/gbo" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
    <xsd:import namespace="http://stelvio-commons-lib/no/nav/gbo" schemaLocation="../../../gbo/GBOEndringsInfo.xsd"/>
    <xsd:include schemaLocation="GBOInntektsPost.xsd"/>
    <xsd:complexType name="GBOInntekt">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="oppgaveId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fnr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="inntektsTypeKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="aar" type="xsd:string"/>
      <xsd:element minOccurs="0" name="totalBelop" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="inntektsPoster" type="bons0:GBOInntektsPost"/>
            <xsd:element minOccurs="0" name="endringsInfo" type="bons1:GBOEndringsInfo"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
