src/main/resources/wsdl/no/nav/lib/frg/gbo/GBOTjenestepensjonYtelse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://stelvio-commons-lib/no/nav/gbo" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
    <xsd:import namespace="http://stelvio-commons-lib/no/nav/gbo" schemaLocation="../../../gbo/GBOEndringsInfo.xsd"/>
    <xsd:complexType name="GBOTjenestepensjonYtelse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ytelseId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="innmeldtFom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ytelseKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ytelseBeskrivelse" type="xsd:string"/>
      <xsd:element minOccurs="0" name="iverksattFom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="iverksattTom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="endringsInfo" type="bons1:GBOEndringsInfo"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
