src/main/resources/wsdl/no/nav/tpsamordningregistrering/V0_9/asbo/HentSamordningsdataResp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://nav.no/elsam/tpsamordningregistrering/V0_9"
	xmlns:Q1="http://nav.no/elsam/tpsamordningregistrering/V0_9"
	xmlns:tns="http://nav.no/elsam/tpsamordningregistrering/V0_5"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nav.no/elsam/tpsamordningregistrering/V0_9">
	<xsd:include schemaLocation="Vedtak.xsd"></xsd:include>
	<xsd:import
		namespace="http://nav.no/elsam/tpsamordningregistrering/V0_5"
		schemaLocation="../../V0_5/asbo/TPYtelse.xsd" />
	<xsd:import
		namespace="http://nav.no/elsam/tpsamordningregistrering/V0_5"
		schemaLocation="../../V0_5/asbo/Person.xsd" />
	<xsd:import
		namespace="http://nav.no/elsam/tpsamordningregistrering/V0_5"
		schemaLocation="../../V0_5/asbo/ArbeidOgAktivitetsvedtak.xsd" />
	<xsd:complexType name="HentSamordningsdataResp">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="tpnr">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="4" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element minOccurs="1" name="person" type="tns:Person" />
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				name="pensjonVedtakListe" type="Q1:Vedtak" />
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				name="arbeidVedtakListe" type="tns:ArbeidOgAktivitetsvedtak">
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				name="tjenestepensjonYtelseListe" type="tns:TPYtelse" />
			<xsd:element minOccurs="1" name="ufullstendigeData"
				type="xsd:boolean" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>