src/main/resources/wsdl/no/nav/tpsamordningregistrering/V0_9/asbo/Vedtak.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://nav.no/elsam/tpsamordningregistrering/V0_9"
	xmlns:bons0="http://nav.no/elsam/tpsamordningregistrering/V0_7"
	xmlns:tns="http://nav.no/elsam/tpsamordningregistrering/V0_5"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons1="http://nav.no/elsam/tpsamordningregistrering/V0_9"
	xmlns:bons2="http://nav.no/elsam/tpsamordningregistrering/V0_8"
	xmlns:bons3="http://nav-cons-elsam-tptilb-tpsamordningregistrering/no/nav/tpsamordningregistrering/V0_9/asbo">




	<xsd:import schemaLocation="BeregningUforetrygd.xsd"
		namespace="http://nav-cons-elsam-tptilb-tpsamordningregistrering/no/nav/tpsamordningregistrering/V0_9/asbo">
	</xsd:import>
	<xsd:import schemaLocation="../../V0_8/asbo/Beregning2011.xsd"
		namespace="http://nav.no/elsam/tpsamordningregistrering/V0_8">
	</xsd:import>
	<xsd:import schemaLocation="../../V0_7/asbo/VedtakUtvidelse1.xsd"
		namespace="http://nav.no/elsam/tpsamordningregistrering/V0_7">
	</xsd:import>
	<xsd:import schemaLocation="../../V0_7/asbo/Beregning.xsd"
		namespace="http://nav.no/elsam/tpsamordningregistrering/V0_7">
	</xsd:import>

	<xsd:import
		namespace="http://nav.no/elsam/tpsamordningregistrering/V0_5"
		schemaLocation="../../V0_5/asbo/Vilkarsvedtak.xsd" />

	<xsd:complexType name="Vedtak">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="vedtakId"
				type="xsd:string" />
			<xsd:element minOccurs="1" name="virkningFom"
				type="xsd:date" />
			<xsd:element minOccurs="0" name="virkningTom"
				type="xsd:date" />
			<xsd:element minOccurs="0" name="saksKode">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="AFP" />
						<xsd:enumeration value="ALDER" />
						<xsd:enumeration value="BARNEP" />
						<xsd:enumeration value="GJENLEV" />
						<xsd:enumeration value="KRIGSP" />
						<xsd:enumeration value="UFOREP" />
						<xsd:enumeration value="GAM_YRK" />
						<xsd:enumeration value="AFP_PRIVAT" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				name="barnListe" type="tns:Vilkarsvedtak">
			</xsd:element>
			<xsd:element minOccurs="0" name="typeKrigspensjon">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="MIL_INV" />
						<xsd:enumeration value="MIL_GJENLEV" />
						<xsd:enumeration value="MIL_BARNEP" />
						<xsd:enumeration value="SIVIL_INV" />
						<xsd:enumeration value="SIVIL_GJENLEV" />
						<xsd:enumeration value="SIVIL_BARNEP" />
						<xsd:enumeration value="UP" />
						<xsd:enumeration value="EP" />
						<xsd:enumeration value="BP" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				name="beregningListe" type="bons0:Beregning" />
			<xsd:element minOccurs="0" name="vedtaksKode">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">














						<xsd:enumeration value="FORGANG"></xsd:enumeration>
						<xsd:enumeration value="ENDRING"></xsd:enumeration>
						<xsd:enumeration value="OPPHOR"></xsd:enumeration>
						<xsd:enumeration value="SAMMENSTOT"></xsd:enumeration>
						<xsd:enumeration value="TILBAKEKR"></xsd:enumeration>
						<xsd:enumeration value="OPPTJ"></xsd:enumeration>
						<xsd:enumeration value="GOMR"></xsd:enumeration>
						<xsd:enumeration value="REGULERING"></xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element maxOccurs="unbounded" minOccurs="0"
				name="beregning2011Liste" type="bons2:Beregning2011">
			</xsd:element>
			<xsd:element minOccurs="0" name="regelverkKode">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">




						<xsd:enumeration value="G_REG" />
						<xsd:enumeration value="N_REG_G_OPPTJ" />
						<xsd:enumeration value="N_REG_G_N_OPPTJ" />
						<xsd:enumeration value="N_REG_N_OPPTJ" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element minOccurs="0" name="utvidelse"
				type="bons0:VedtakUtvidelse1">
			</xsd:element>
			<xsd:element minOccurs="0" name="beregningUforetrygdListe"
				type="bons3:BeregningUforetrygd" maxOccurs="unbounded">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>