src/main/resources/wsdl/no/nav/lib/frg/inf/Arbeidsforhold.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons1="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:tns="http://nav-lib-frg/no/nav/lib/frg/inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Arbeidsforhold" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/inf">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav-lib-frg/no/nav/lib/frg/inf" xmlns:bons1="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:tns="http://nav-lib-frg/no/nav/lib/frg/inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo" schemaLocation="../gbo/GBOArbeidsforholdRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo" schemaLocation="../gbo/GBOArbeidsforholdListe.xsd"/>
            <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo" schemaLocation="../gbo/GBOArbeidsgiverInfoListe.xsd"/>
            <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo" schemaLocation="../gbo/GBOArbeidsgiverInfoRequest.xsd"/>
      <xsd:element name="hentArbeidsforholdListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentArbeidsforholdListeRequest" nillable="true" type="bons1:GBOArbeidsforholdRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentArbeidsforholdListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentArbeidsforholdListeResponse" nillable="true" type="bons1:GBOArbeidsforholdListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentArbeidsgiverInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentArbeidsgiverInfoRequest" nillable="true" type="bons1:GBOArbeidsgiverInfoRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentArbeidsgiverInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentArbeidsgiverInfoResponse" nillable="true" type="bons1:GBOArbeidsgiverInfoListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentArbeidsforholdListeRequestMsg">
    <wsdl:part element="tns:hentArbeidsforholdListe" name="hentArbeidsforholdListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentArbeidsforholdListeResponseMsg">
    <wsdl:part element="tns:hentArbeidsforholdListeResponse" name="hentArbeidsforholdListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentArbeidsgiverInfoRequestMsg">
    <wsdl:part element="tns:hentArbeidsgiverInfo" name="hentArbeidsgiverInfoParameters"/>
  </wsdl:message>
    <wsdl:message name="hentArbeidsgiverInfoResponseMsg">
    <wsdl:part element="tns:hentArbeidsgiverInfoResponse" name="hentArbeidsgiverInfoResult"/>
  </wsdl:message>
    <wsdl:portType name="Arbeidsforhold">
    <wsdl:operation name="hentArbeidsforholdListe">
      <wsdl:input message="tns:hentArbeidsforholdListeRequestMsg" name="hentArbeidsforholdListeRequest"/>
      <wsdl:output message="tns:hentArbeidsforholdListeResponseMsg" name="hentArbeidsforholdListeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="hentArbeidsgiverInfo">
      <wsdl:input message="tns:hentArbeidsgiverInfoRequestMsg" name="hentArbeidsgiverInfoRequest"/>
      <wsdl:output message="tns:hentArbeidsgiverInfoResponseMsg" name="hentArbeidsgiverInfoResponse"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
