src/main/resources/wsdl/no/nav/lib/frg/inf/NAVAnsatt.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons2="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons4="http://nav-lib-frg/no/nav/lib/frg/fault" xmlns:tns="http://nav-lib-frg/no/nav/lib/frg/inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NAVAnsatt" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/inf">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav-lib-frg/no/nav/lib/frg/inf" xmlns:bons2="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons4="http://nav-lib-frg/no/nav/lib/frg/fault" xmlns:tns="http://nav-lib-frg/no/nav/lib/frg/inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo" schemaLocation="../gbo/GBOhentNAVAnsattFagomradeListeRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo" schemaLocation="../gbo/GBONAVEnhetListe.xsd"/>
            <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/fault" schemaLocation="../fault/FaultNAVAnsattIkkeFunnet.xsd"/>
            <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo" schemaLocation="../gbo/GBONAVAnsatt.xsd"/>
            <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo" schemaLocation="../gbo/GBOFagomradeListe.xsd"/>
            <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/fault" schemaLocation="../fault/FaultNAVEnhetIkkeFunnet.xsd"/>
            <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo" schemaLocation="../gbo/GBONAVEnhet.xsd"/>
            <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo" schemaLocation="../gbo/GBOFinnArenaNAVAnsattRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo" schemaLocation="../gbo/GBONAVAnsattListe.xsd"/>
           
            <xsd:element name="hentNAVAnsattListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVAnsattListeRequest" nillable="true" type="bons2:GBONAVEnhet"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNAVAnsattListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVAnsattListeResponse" nillable="true" type="bons2:GBONAVAnsattListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNAVAnsattListe_faultNAVEnhetIkkeFunneth" type="bons4:FaultNAVEnhetIkkeFunnet"/>
      <xsd:element name="hentNAVAnsattEnhetListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVAnsattEnhetListeRequest" nillable="true" type="bons2:GBONAVAnsatt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNAVAnsattEnhetListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVAnsattEnhetListeResponse" nillable="true" type="bons2:GBONAVEnhetListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNAVAnsattEnhetListe_faultNAVAnsattIkkeFunnet" type="bons4:FaultNAVAnsattIkkeFunnet"/>
      <xsd:element name="hentNAVAnsattFagomradeListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVAnsattFagomradeListeRequest" nillable="true" type="bons2:GBOhentNAVAnsattFagomradeListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNAVAnsattFagomradeListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVAnsattFagomradeListeResponse" nillable="true" type="bons2:GBOFagomradeListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNAVAnsattFagomradeListe_faultNAVAnsattIkkeFunnetserviceFault" type="bons4:FaultNAVAnsattIkkeFunnet"/>
            <xsd:element name="hentNAVAnsatt">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVAnsattRequest" nillable="true" type="bons2:GBONAVAnsatt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentNAVAnsattResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNavAnsattResponse" nillable="true" type="bons2:GBONAVAnsatt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentNAVAnsatt_faultNAVAnsattIkkeFunnet" type="bons4:FaultNAVAnsattIkkeFunnet"/>
            <xsd:element name="finnArenaNAVAnsatt">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnArenaNAVAnsattRequest" nillable="true" type="bons2:GBOFinnArenaNAVAnsattRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="finnArenaNAVAnsattResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnArenaNAVAnsattResponse" nillable="true" type="bons2:GBONAVAnsattListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentNAVAnsattListeRequestMsg">
    <wsdl:part element="tns:hentNAVAnsattListe" name="hentNAVAnsattListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentNAVAnsattListeResponseMsg">
    <wsdl:part element="tns:hentNAVAnsattListeResponse" name="hentNAVAnsattListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentNAVAnsattListe_faultNAVEnhetIkkeFunnethMsg">
    <wsdl:part element="tns:hentNAVAnsattListe_faultNAVEnhetIkkeFunneth" name="faultNAVEnhetIkkeFunneth"/>
  </wsdl:message>
    <wsdl:message name="hentNAVAnsattEnhetListeRequestMsg">
    <wsdl:part element="tns:hentNAVAnsattEnhetListe" name="hentNAVAnsattEnhetListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentNAVAnsattEnhetListeResponseMsg">
    <wsdl:part element="tns:hentNAVAnsattEnhetListeResponse" name="hentNAVAnsattEnhetListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentNAVAnsattEnhetListe_faultNAVAnsattIkkeFunnetMsg">
    <wsdl:part element="tns:hentNAVAnsattEnhetListe_faultNAVAnsattIkkeFunnet" name="faultNAVAnsattIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentNAVAnsattFagomradeListeRequestMsg">
    <wsdl:part element="tns:hentNAVAnsattFagomradeListe" name="hentNAVAnsattFagomradeListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentNAVAnsattFagomradeListeResponseMsg">
    <wsdl:part element="tns:hentNAVAnsattFagomradeListeResponse" name="hentNAVAnsattFagomradeListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentNAVAnsattFagomradeListe_faultNAVAnsattIkkeFunnetserviceFaultMsg">
    <wsdl:part element="tns:hentNAVAnsattFagomradeListe_faultNAVAnsattIkkeFunnetserviceFault" name="faultNAVAnsattIkkeFunnetserviceFault"/>
  </wsdl:message>
    <wsdl:message name="hentNAVAnsattRequestMsg">
    <wsdl:part element="tns:hentNAVAnsatt" name="hentNAVAnsattParameters"/>
  </wsdl:message>
    <wsdl:message name="hentNAVAnsattResponseMsg">
    <wsdl:part element="tns:hentNAVAnsattResponse" name="hentNAVAnsattResult"/>
  </wsdl:message>
    <wsdl:message name="hentNAVAnsatt_faultNAVAnsattIkkeFunnetMsg">
    <wsdl:part element="tns:hentNAVAnsatt_faultNAVAnsattIkkeFunnet" name="faultNAVAnsattIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="finnArenaNAVAnsattRequestMsg">
    <wsdl:part element="tns:finnArenaNAVAnsatt" name="finnArenaNAVAnsattParameters"/>
  </wsdl:message>
    <wsdl:message name="finnArenaNAVAnsattResponseMsg">
    <wsdl:part element="tns:finnArenaNAVAnsattResponse" name="finnArenaNAVAnsattResult"/>
  </wsdl:message>
    <wsdl:message name="finnArenaNAVAnsatt_faultNAVEnhetIkkeFunnetMsg">
    <wsdl:part element="tns:hentNAVAnsattListe_faultNAVEnhetIkkeFunneth" name="faultNAVEnhetIkkeFunnet"/>
  </wsdl:message>
    <wsdl:portType name="NAVAnsatt">
    <wsdl:operation name="hentNAVAnsattListe">
      <wsdl:input message="tns:hentNAVAnsattListeRequestMsg" name="hentNAVAnsattListeRequest"/>
      <wsdl:output message="tns:hentNAVAnsattListeResponseMsg" name="hentNAVAnsattListeResponse"/>
      <wsdl:fault message="tns:hentNAVAnsattListe_faultNAVEnhetIkkeFunnethMsg" name="faultNAVEnhetIkkeFunnet"/>
    </wsdl:operation>
    <wsdl:operation name="hentNAVAnsattEnhetListe">
      <wsdl:input message="tns:hentNAVAnsattEnhetListeRequestMsg" name="hentNAVAnsattEnhetListeRequest"/>
      <wsdl:output message="tns:hentNAVAnsattEnhetListeResponseMsg" name="hentNAVAnsattEnhetListeResponse"/>
      <wsdl:fault message="tns:hentNAVAnsattEnhetListe_faultNAVAnsattIkkeFunnetMsg" name="faultNAVAnsattIkkeFunnet"/>
    </wsdl:operation>
    <wsdl:operation name="hentNAVAnsattFagomradeListe">
      <wsdl:input message="tns:hentNAVAnsattFagomradeListeRequestMsg" name="hentNAVAnsattFagomradeListeRequest"/>
      <wsdl:output message="tns:hentNAVAnsattFagomradeListeResponseMsg" name="hentNAVAnsattFagomradeListeResponse"/>
      <wsdl:fault message="tns:hentNAVAnsattFagomradeListe_faultNAVAnsattIkkeFunnetserviceFaultMsg" name="faultNAVAnsattIkkeFunnet"/>
    </wsdl:operation>
        <wsdl:operation name="hentNAVAnsatt">
      <wsdl:input message="tns:hentNAVAnsattRequestMsg" name="hentNAVAnsattRequest"/>
      <wsdl:output message="tns:hentNAVAnsattResponseMsg" name="hentNAVAnsattResponse"/>
      <wsdl:fault message="tns:hentNAVAnsatt_faultNAVAnsattIkkeFunnetMsg" name="faultNAVAnsattIkkeFunnet"/>
    </wsdl:operation>
        <wsdl:operation name="finnArenaNAVAnsatt">
      <wsdl:input message="tns:finnArenaNAVAnsattRequestMsg" name="finnArenaNAVAnsattRequest"/>
      <wsdl:output message="tns:finnArenaNAVAnsattResponseMsg" name="finnArenaNAVAnsattResponse"/>
            <wsdl:fault message="tns:finnArenaNAVAnsatt_faultNAVEnhetIkkeFunnetMsg" name="faultNAVEnhetIkkeFunnet"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
