src/main/resources/wsdl/no/nav/lib/pen/bo/AFPEOGrunnlag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="unqualified"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/bo"
	xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/bo">


	<include schemaLocation="EndringsInfo.xsd"></include>
	<complexType name="AFPEOGrunnlag">
		<sequence>
			<element name="afpeoGrunnlagId" nillable="true"
				type="xsd:long" />
			<element name="ieoRegistrert" nillable="true"
				type="xsd:int" />
			<element name="ifuRegistrert" nillable="true"
				type="xsd:int" />
			<element name="opphorsdato" nillable="true"
				type="xsd:dateTime" />
			<element name="overgangTilAnnenPensjon" nillable="true"
				type="xsd:boolean" />
			<element name="pgi" nillable="true" type="xsd:int" />
			<element name="uttaksdato" nillable="true"
				type="xsd:dateTime" />
			<element minOccurs="0" name="endringsInfo"
				type="bons0:EndringsInfo">
			</element>
		</sequence>
	</complexType>
</schema>
