src/main/resources/wsdl/no/nav/lib/pen/bo/Afphistorikk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="unqualified"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/bo"
	xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/bo">


	<include schemaLocation="EndringsInfo.xsd"></include>
	<complexType name="Afphistorikk">
		<sequence>
			<element name="afpPensjonsgrad" nillable="true"
				type="xsd:int" />
			<element name="afpFpp" nillable="true" type="xsd:double" />
			<element name="afpOrdning" nillable="true" type="string" />
			<element name="virkFom" nillable="true" type="xsd:dateTime" />
			<element name="virkTom" nillable="true" type="xsd:dateTime" />
			<element name="afphistorikkId" nillable="true"
				type="xsd:long" />
			<element minOccurs="0" name="endringsInfo"
				type="bons0:EndringsInfo">
			</element>
		</sequence>
	</complexType>
</schema>
