src/main/resources/wsdl/no/nav/lib/pen/bo/afpPrivatResultatFk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://nav-lib-pen/no/nav/lib/pen/bo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="AfpPrivatResultatFk">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="innvilgetFraDato"
				type="xsd:dateTime">
			</xsd:element>
			<xsd:element minOccurs="0" name="resultat"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="vedtaksDato"
				type="xsd:dateTime">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>