src/main/resources/wsdl/no/nav/lib/pen/bo/Barnekull.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="unqualified"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/bo"
	xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/bo">


	<include schemaLocation="EndringsInfo.xsd"></include>
	<complexType name="Barnekull">
		<sequence>
			<element name="barnekullId" nillable="true" type="xsd:long" />
			<element name="bruk" nillable="true" type="xsd:boolean" />
			<element name="antBarn" nillable="true" type="xsd:int" />
			<element minOccurs="0" name="endringsInfo"
				type="bons0:EndringsInfo">
			</element>
		</sequence>
	</complexType>
</schema>
