src/main/resources/wsdl/no/nav/lib/pen/bo/BarnDetalj.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/bo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="unqualified"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/bo">
	<include schemaLocation="EndringsInfo.xsd"></include>
	<include schemaLocation="PenPerson.xsd" />


	<complexType name="BarnDetalj">
		<sequence>
			<element name="underUtdanning" nillable="true"
				type="xsd:boolean" />
			<element name="inntektOver1G" nillable="true"
				type="xsd:boolean" />
			<element name="annenForelder" nillable="true"
				type="bons0:PenPerson" />
			<element name="borMedBeggeForeldre" nillable="true"
				type="xsd:boolean" />
			<element name="barnDetaljId" nillable="true"
				type="xsd:long" />
			<element minOccurs="0" name="endringsInfo"
				type="bons0:EndringsInfo">
			</element>
		</sequence>
	</complexType>
</schema>
