src/main/resources/wsdl/no/nav/lib/pen/bo/Beregningsresultat.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/bo">
	<xsd:complexType name="Beregningsresultat">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="beregningsresultatId"
				type="xsd:long">
			</xsd:element>
			<xsd:element minOccurs="0" name="afpOpptjeningTotalbelop"
				type="xsd:double">
			</xsd:element>
			<xsd:element minOccurs="0" name="resultatKode"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
