src/main/resources/wsdl/no/nav/lib/pen/bo/BeregningSammendragBruker.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="unqualified"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/bo"
	xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/bo">
	<include schemaLocation="EndringsInfo.xsd"></include>
	<complexType name="BeregningSammendragBruker">
		<sequence>
			<element name="brukerVentetilleggPst" nillable="true"
				type="xsd:double" />
			<element name="brukerFlyktning" nillable="true"
				type="xsd:boolean" />
			<element name="brukerPaF92" nillable="true" type="xsd:int" />
			<element name="brukerPaE91" nillable="true" type="xsd:int" />
			<element name="brukerInntektForUfore" nillable="true"
				type="xsd:int" />
			<element name="brukerVirkningsdato" nillable="true"
				type="xsd:dateTime" />
			<element name="brukerFremtidigPensjonspoeng" nillable="true"
				type="xsd:double" />
			<element name="brukerTt" nillable="true" type="xsd:int" />
			<element name="brukerGrunnbelop" nillable="true"
				type="xsd:int" />
			<element name="brukerUngUforFodtEtter1940" nillable="true"
				type="xsd:boolean" />
			<element name="brukerUforegrad" nillable="true"
				type="xsd:int" />
			<element name="brukerForventetInntektPrAar" nillable="true"
				type="xsd:int" />
			<element name="brukerOmsorgForAvdodesBarn" nillable="true"
				type="xsd:boolean" />
			<element name="brukerSivilstand" nillable="true"
				type="string" />
			<element name="brukerUngUforFodtFor1941" nillable="true"
				type="xsd:boolean" />
			<element name="brukerSpt" nillable="true" type="xsd:double" />
			<element name="brukerSkadetidspunktYrkesskade"
				nillable="true" type="xsd:dateTime" />
			<element name="brukerEktefelleMottarPensjon" nillable="true"
				type="xsd:boolean" />
			<element name="brukerOpt" nillable="true" type="xsd:double" />
			<element name="brukerFribelop" nillable="true"
				type="xsd:int" />
			<element name="brukerAntallBarnOppdrasSammen"
				nillable="true" type="xsd:int" />
			<element name="brukerAfpOrdning" nillable="true"
				type="string" />
			<element name="brukerEgenUforepensjon" nillable="true"
				type="xsd:boolean" />
			<element name="brukerTpi" nillable="true" type="xsd:int" />
			<element name="brukerFriInntekt" nillable="true"
				type="xsd:int" />
			<element name="brukerUforegradVedYrkesskade" nillable="true"
				type="xsd:int" />
			<element name="brukerEktefelleInntektOver2g" nillable="true"
				type="xsd:boolean" />
			<element name="brukerBorMedEPS" nillable="true"
				type="string" />
			<element name="brukerFpi" nillable="true" type="xsd:int" />
			<element name="brukerBarnEllerForelderFlyktning"
				nillable="true" type="xsd:boolean" />
			<element name="brukerFremtidigPoengAr" nillable="true"
				type="xsd:int" />
			<element name="brukerInntektsGrense" nillable="true"
				type="xsd:int" />
			<element name="brukerSluttPoengYpt" nillable="true"
				type="xsd:double" />
			<element name="brukerPoengtillegg" nillable="true"
				type="xsd:double" />
			<element name="brukerAntallPoengAr" nillable="true"
				type="xsd:int" />
			<element name="brukerAntattInntektVedSkadetidspunkt"
				nillable="true" type="xsd:int" />
			<element name="brukerTpiFaktor" nillable="true"
				type="xsd:double" />
			<element name="brukerInntektsGrenseForFriinntektsdato"
				nillable="true" type="xsd:int" />
			<element minOccurs="0" name="endringsInfo"
				type="bons0:EndringsInfo">
			</element>
		</sequence>
	</complexType>
</schema>
