src/main/resources/wsdl/no/nav/lib/pen/bo/Eksportforbud.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="unqualified"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/bo"
	xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/bo">
	<include schemaLocation="EndringsInfo.xsd"></include>
	<complexType name="Eksportforbud">
		<sequence>
			<element name="forbud" nillable="true" type="xsd:boolean" />
			<element name="unntakType" nillable="true" type="string" />
			<element name="eksportforbudId" nillable="true"
				type="xsd:long" />
			<element minOccurs="0" name="endringsInfo"
				type="bons0:EndringsInfo">
			</element>
		</sequence>
	</complexType>
</schema>
