src/main/resources/wsdl/no/nav/lib/pen/bo/Eksportrett.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="unqualified"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/bo"
	xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/bo">
	<include schemaLocation="EndringsInfo.xsd"></include>
	<complexType name="Eksportrett">
		<sequence>
			<element name="eksportrettId" nillable="true"
				type="xsd:long" />
			<element name="avtaleType" nillable="true" type="string" />
			<element name="bostedsland" nillable="true" type="string" />
			<element name="eksportrett" nillable="true"
				type="xsd:boolean" />
			<element minOccurs="0" name="endringsInfo"
				type="bons0:EndringsInfo">
			</element>
		</sequence>
	</complexType>
</schema>
