src/main/resources/wsdl/no/nav/lib/pen/bo/FramtidigPensjonspoengtall.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/bo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="unqualified"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/bo">
	<include schemaLocation="EndringsInfo.xsd"></include>
	<include schemaLocation="MerknadListe.xsd" />
	<include schemaLocation="PoengtallListe.xsd" />
	<complexType name="FramtidigPensjonspoengtall">
		<sequence>
			<element name="framtidigPensjonspoengtallId" nillable="true"
				type="xsd:long" />
			<element name="poengtall" nillable="true" type="xsd:double" />
			<element name="poengtallListe" nillable="true"
				type="bons0:PoengtallListe" />
			<element name="merknadListe" nillable="true"
				type="bons0:MerknadListe" />
			<element minOccurs="0" name="endringsInfo"
				type="bons0:EndringsInfo">
			</element>
		</sequence>
	</complexType>
</schema>
