src/main/resources/wsdl/no/nav/lib/pen/bo/HentKravForRelatertPersonRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/bo"
	xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/bo">
	<xsd:include schemaLocation="Pid.xsd"></xsd:include>
	<xsd:complexType name="HentKravForRelatertPersonRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="fnr" type="bons0:Pid"></xsd:element>
			<xsd:element minOccurs="0" name="datoGyldig"
				type="xsd:dateTime">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
