src/main/resources/wsdl/no/nav/lib/pen/bo/Inntektsgrunnlag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="unqualified"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/bo"
	xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/bo">
	<include schemaLocation="EndringsInfo.xsd"></include>
	<complexType name="Inntektsgrunnlag">
		<sequence>
			<element name="inntektType" nillable="true" type="string" />
			<element name="registerKilde" nillable="true" type="string" />
			<element name="fomDato" nillable="true" type="xsd:dateTime" />
			<element name="belop" nillable="true" type="xsd:int" />
			<element name="tomDato" nillable="true" type="xsd:dateTime" />
			<element name="grunnlagKilde" nillable="true" type="string" />
			<element name="bruk" nillable="true" type="xsd:boolean" />
			<element name="kopiertFraGammeltKrav" nillable="true"
				type="xsd:boolean" />
			<element name="registerOpprettetAv" nillable="true"
				type="xsd:string" />
			<element name="inntektsgrunnlagId" nillable="true"
				type="xsd:long" />
			<element minOccurs="0" name="endringsInfo"
				type="bons0:EndringsInfo">
			</element>
		</sequence>
	</complexType>
</schema>
