src/main/resources/wsdl/no/nav/lib/pen/bo/Kravlinje.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/bo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="unqualified"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/bo">
	<include schemaLocation="EndringsInfo.xsd"></include>
	<include schemaLocation="KravlinjeStatus.xsd"></include>
	<include schemaLocation="PenPerson.xsd" />	<complexType name="Kravlinje">
		<sequence>
			<element name="land" nillable="true" type="string" />
			<element name="kravlinjeId" nillable="true" type="xsd:long" />
			<element name="kravlinjeType" nillable="true" type="string" />
			<element name="kravlinjeStatus" nillable="true"
				type="bons0:KravlinjeStatus" />
			<element name="relatertPerson" nillable="true"
				type="bons0:PenPerson" />
			<element minOccurs="0" name="endringsInfo"
				type="bons0:EndringsInfo">
			</element>
		</sequence>
	</complexType>
</schema>
