src/main/resources/wsdl/no/nav/lib/pen/bo/OmsorgOverfGrunnlag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/bo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="unqualified"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/bo">
	<include schemaLocation="EndringsInfo.xsd"></include>
	<include schemaLocation="PenPerson.xsd" />



	<complexType name="OmsorgOverfGrunnlag">
		<sequence>
			<element name="omsorgOverfGrunnlagId" nillable="true"
				type="xsd:long" />
			<element name="omsorgspoengType" nillable="true"
				type="string" />
			<element name="overforesTil" nillable="true"
				type="bons0:PenPerson" />
			<element name="ar" nillable="true" type="xsd:int" />
			<element name="overfor" nillable="true" type="xsd:boolean" />
			<element minOccurs="0" name="endringsInfo"
				type="bons0:EndringsInfo">
			</element>
		</sequence>
	</complexType>
</schema>
