src/main/resources/wsdl/no/nav/lib/pen/bo/OverforKravTilManuellBehandlingRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://nav-lib-pen/no/nav/lib/pen/bo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="OverforKravTilManuellBehandlingRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="kravId" type="xsd:long"></xsd:element>
			<xsd:element minOccurs="0" name="kontrollpunktTypeKode"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>