src/main/resources/wsdl/no/nav/lib/pen/bo/PoengarManuell.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="unqualified"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/bo"
	xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/bo">



	<include schemaLocation="EndringsInfo.xsd"></include>
	<complexType name="PoengarManuell">
		<sequence>
			<element name="ikkeProrata" nillable="true"
				type="xsd:boolean" />
			<element name="poengarId" nillable="true" type="xsd:long" />
			<element name="ikkeAlternativProrata" nillable="true"
				type="xsd:boolean" />
			<element name="fom" nillable="true" type="xsd:dateTime" />
			<element name="tom" nillable="true" type="xsd:dateTime" />
			<element name="avtaleland" nillable="true" type="string" />
			<element minOccurs="0" name="endringsInfo"
				type="bons0:EndringsInfo">
			</element>
		</sequence>
	</complexType>
</schema>
