src/main/resources/wsdl/no/nav/lib/pen/bo/Sak.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:Q1="http://nav-lib-pen/no/nav/lib/pen/bo"
	xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/bo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="unqualified"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/bo">

	<include schemaLocation="AFPUtbetalingsperiodeListe.xsd"></include>
	<include schemaLocation="EndringsInfo.xsd"></include>
	<include schemaLocation="Uttaksgrad.xsd" />

	<include schemaLocation="Tilgang.xsd" />
	<include schemaLocation="PenPerson.xsd" />
	<include schemaLocation="TilgangListe.xsd" />	<complexType name="Sak">
		<sequence>
			<element name="sakStatus" nillable="true" type="string" />
			<element name="penPerson" nillable="true"
				type="Q1:PenPerson" />
			<element name="midlertidigTilgangListe" nillable="true"
				type="Q1:TilgangListe" />
			<element name="eierTilgang" nillable="true"
				type="Q1:Tilgang" />
			<element name="sakId" nillable="true" type="xsd:long" />
			<element name="inhabil" nillable="true" type="xsd:boolean" />
			<element name="sakType" nillable="true" type="string" />
			<element name="osIdFk" nillable="true" type="xsd:long" />
			<element name="afpUtbetalingsperiodeListe" nillable="true"
				type="Q1:AFPUtbetalingsperiodeListe" />
			<element name="uttaksgradhistorikk" nillable="true"
				type="Q1:Uttaksgrad" />
			<element minOccurs="0" name="endringsInfo"
				type="Q1:EndringsInfo">
			</element>
		</sequence>
	</complexType>
</schema>
