src/main/resources/wsdl/no/nav/lib/pen/bo/SatsResultat.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://nav-lib-pen/no/nav/lib/pen/bo">


	<complexType name="SatsResultat">
		<sequence>
			<element name="fom" nillable="true" type="xsd:dateTime"/>
			<element name="tom" nillable="true" type="xsd:dateTime"/>
			<element name="verdi" type="xsd:double"/>
		</sequence>
	</complexType>
</schema>
