src/main/resources/wsdl/no/nav/lib/pen/bo/Trygdetidsgrunnlag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="unqualified"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/bo"
	xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/bo">



	<include schemaLocation="EndringsInfo.xsd"></include>
	<complexType name="Trygdetidsgrunnlag">
		<sequence>
			<element name="ikkeProRata" nillable="true"
				type="xsd:boolean" />
			<element name="fomDato" nillable="true" type="xsd:dateTime" />
			<element name="land" nillable="true" type="string" />
			<element name="dag" nillable="true" type="xsd:int" />
			<element name="poengIUtAr" nillable="true"
				type="xsd:boolean" />
			<element name="tomDato" nillable="true" type="xsd:dateTime" />
			<element name="grunnlagKilde" nillable="true" type="string" />
			<element name="bruk" nillable="true" type="xsd:boolean" />
			<element name="trygdetidsgrunnlagId" nillable="true"
				type="xsd:long" />
			<element name="mnd" nillable="true" type="xsd:int" />
			<element name="ar" nillable="true" type="xsd:int" />
			<element name="poengIInnAr" nillable="true"
				type="xsd:boolean" />
			<element minOccurs="0" name="endringsInfo"
				type="bons0:EndringsInfo">
			</element>
		</sequence>
	</complexType>
</schema>
