src/main/resources/wsdl/no/nav/lib/pen/bo/Trygdeavtaledetaljer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/bo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="unqualified"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/bo">
	<include schemaLocation="EndringsInfo.xsd"></include>
	<include schemaLocation="PoengarManuellListe.xsd" />
	<include schemaLocation="AntallArOgMnd.xsd" />






	<complexType name="Trygdeavtaledetaljer">
		<sequence>
			<element name="inntektsprovetPensjonAvtaleland"
				nillable="true" type="xsd:boolean" />
			<element name="sumPensjonAndreAvtaleland" nillable="true"
				type="xsd:int" />
			<element name="arbeidsinntektMinst1G" nillable="true"
				type="xsd:boolean" />
			<element name="poengarListe" nillable="true"
				type="bons0:PoengarManuellListe" />
			<element name="fpa_nordisk" nillable="true" type="xsd:int" />
			<element name="erArt10BruktTP" nillable="true"
				type="xsd:boolean" />
			<element name="ftt_andreEOSLand" nillable="true"
				type="bons0:AntallArOgMnd" />
			<element name="erArt10BruktGP" nillable="true"
				type="xsd:boolean" />
			<element name="ftt_annetNordiskLand" nillable="true"
				type="bons0:AntallArOgMnd" />
			<element name="ftt_garanti" nillable="true"
				type="bons0:AntallArOgMnd" />
			<element name="barnepensjonForordning1408_71"
				nillable="true" type="string" />
			<element name="norge_primaerland" nillable="true"
				type="xsd:boolean" />
			<element minOccurs="0" name="endringsInfo"
				type="bons0:EndringsInfo">
			</element>
		</sequence>
	</complexType>
</schema>
