src/main/resources/wsdl/no/nav/lib/pen/bo/TrygdetidKonvensjon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/bo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="unqualified"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/bo">	<include schemaLocation="EndringsInfo.xsd"></include>
	<include schemaLocation="MerknadListe.xsd"></include>
	<complexType name="TrygdetidKonvensjon">
		<sequence>
			<element name="tt_A10_anv_aar" nillable="true"
				type="xsd:int" />
			<element name="tt_A10_fa_mnd" nillable="true"
				type="xsd:int" />
			<element name="tt_A10_teller" nillable="true"
				type="xsd:int" />
			<element name="tt_A10_nevner" nillable="true"
				type="xsd:int" />
			<element name="ftt_ar" nillable="true" type="xsd:int" />
			<element name="trygdetidKonvensjonId" nillable="true"
				type="xsd:long" />
			<element name="merknadListe" nillable="true"
				type="bons0:MerknadListe" />
			<element name="ftt_A10_brutto" nillable="true"
				type="xsd:int" />
			<element name="ftt_A10_redusert" nillable="true"
				type="xsd:boolean" />
			<element name="ftt_A10_netto" nillable="true"
				type="xsd:int" />
			<element minOccurs="0" name="endringsInfo"
				type="bons0:EndringsInfo">
			</element>
		</sequence>
	</complexType>
</schema>
