src/main/resources/wsdl/no/nav/lib/pen/bo/Uforehistorikk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="unqualified"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/bo"
	xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/bo">



	<include schemaLocation="EndringsInfo.xsd"></include>
	<include schemaLocation="UforeperiodeListe.xsd"></include>
	<complexType name="Uforehistorikk">
		<sequence>
			<element name="garantigradYrke" nillable="true"
				type="xsd:int" />
			<element name="reaktiviseringFomDato" nillable="true"
				type="xsd:dateTime" />
			<element name="uforeperiodeListe" nillable="true"
				type="bons0:UforeperiodeListe" />
			<element name="lonnstilskuddTomDato" nillable="true"
				type="xsd:dateTime" />
			<element name="frysHvilPensjTomDato" nillable="true"
				type="xsd:dateTime" />
			<element name="forlengelseFrysTomDato" nillable="true"
				type="xsd:dateTime" />
			<element name="uforehistorikkId" nillable="true"
				type="xsd:long" />
			<element name="garantigrad" nillable="true" type="xsd:int" />
			<element name="lonnstilskuddFomDato" nillable="true"
				type="xsd:dateTime" />
			<element name="frysHvilPensjFomDato" nillable="true"
				type="xsd:dateTime" />
			<element name="reaktiviseringTomDato" nillable="true"
				type="xsd:dateTime" />
			<element name="ungUfor" nillable="true" type="xsd:boolean" />
			<element name="forlengelseFrysFomDato" nillable="true"
				type="xsd:dateTime" />
			<element minOccurs="0" name="endringsInfo"
				type="bons0:EndringsInfo">
			</element>
		</sequence>
	</complexType>
</schema>
