src/main/resources/wsdl/no/nav/lib/pen/bo/VentetilleggGrunnlag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="unqualified"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/bo"
	xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/bo">


	<include schemaLocation="EndringsInfo.xsd"></include>
	<complexType name="VentetilleggGrunnlag">
		<sequence>
			<element name="tt_vent" nillable="true" type="xsd:int" />
			<element name="ventetilleggGrunnlagId" nillable="true"
				type="xsd:long" />
			<element name="ventetilleggsprosent" nillable="true"
				type="xsd:double" />
			<element name="vt_opt" nillable="true" type="xsd:double" />
			<element name="vt_pa" nillable="true" type="xsd:int" />
			<element name="vt_spt" nillable="true" type="xsd:double" />
			<element minOccurs="0" name="endringsInfo"
				type="bons0:EndringsInfo">
			</element>
		</sequence>
	</complexType>
</schema>
