src/main/resources/wsdl/no/nav/lib/pen/bo/Ventetillegg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://nav-lib-pen/no/nav/lib/pen/bo">
	<include schemaLocation="Ytelseskomponent.xsd"/>
	<complexType name="Ventetillegg">
		<complexContent>
			<extension base="bons0:Ytelseskomponent">
				<sequence>
					<element name="ventetilleggTP" nillable="true" type="xsd:int"/>
					<element name="ventetilleggGP" nillable="true" type="xsd:int"/>
					<element name="ventetilleggProsent" nillable="true" type="xsd:double"/>
				</sequence>

			</extension>
		</complexContent>
	</complexType>
</schema>
