src/main/resources/wsdl/no/nav/lib/sto/gbo/GBOPeriodisertBelop.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sto/no/nav/lib/sto/gbo">
  <xsd:complexType name="GBOPeriodisertBelop">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="belop" type="xsd:string"/>
      <xsd:element minOccurs="0" name="kravstillersRef" type="xsd:string"/>
      <xsd:element minOccurs="0" name="datoFom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="datoTom" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
