src/main/resources/wsdl/no/nav/lib/sto/gbo/GBOSamordningsdata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/gbo"
	xmlns:bons1="http://nav-lib-frg/no/nav/lib/frg/gbo"
	xmlns:bons2="http://stelvio-commons-lib/no/nav/gbo"
	targetNamespace="http://nav-lib-sto/no/nav/lib/sto/gbo"
	xmlns:bons3="http://nav-lib-sak/no/nav/lib/sak/gbo">	<xsd:import
		schemaLocation="../../sak/gbo/GBOArbeidOgAktivitetsvedtak.xsd"
		namespace="http://nav-lib-sak/no/nav/lib/sak/gbo">
	</xsd:import>
	<xsd:import schemaLocation="../../frg/gbo/GBOPerson.xsd"
		namespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
	</xsd:import>
	<xsd:import schemaLocation="../../pen/gbo/GBOVedtakListe.xsd"
		namespace="http://nav-lib-pen/no/nav/lib/pen/gbo">
	</xsd:import>
	<xsd:import
		schemaLocation="../../frg/gbo/GBOTjenestepensjonForhold.xsd"
		namespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
	</xsd:import>
	<xsd:import schemaLocation="../../../gbo/GBOEndringsInfo.xsd"
		namespace="http://stelvio-commons-lib/no/nav/gbo">
	</xsd:import>
	<xsd:complexType name="GBOSamordningsdata">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="tpnr" type="xsd:string" />
			<xsd:element minOccurs="0" name="tssEksternId"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="vedtakListe"
				type="bons0:GBOVedtakListe" />
			<xsd:element minOccurs="0" name="person"
				type="bons1:GBOPerson" />
			<xsd:element minOccurs="0"
				name="tjenestepensjonForholdListe"
				type="bons1:GBOTjenestepensjonForhold" maxOccurs="unbounded" />
			<xsd:element minOccurs="0" name="endringsInfo"
				type="bons2:GBOEndringsInfo" />
			<xsd:element minOccurs="0" name="ufullstendigeData"
				type="xsd:boolean">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="arbeidOgAktivitetsvedtakListe"
				type="bons3:GBOArbeidOgAktivitetsvedtak" maxOccurs="unbounded">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
