src/main/resources/wsdl/no/nav/lib/sto/gbo/GBOSamordningMelding.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://stelvio-commons-lib/no/nav/gbo" targetNamespace="http://nav-lib-sto/no/nav/lib/sto/gbo">
    <xsd:import namespace="http://stelvio-commons-lib/no/nav/gbo" schemaLocation="../../../gbo/GBOEndringsInfo.xsd"/>
    <xsd:complexType name="GBOSamordningMelding">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="samId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="meldingstatusKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tssEksternId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="sendtDato" type="xsd:string"/>
      <xsd:element minOccurs="0" name="svartDato" type="xsd:string"/>
      <xsd:element minOccurs="0" name="purretDato" type="xsd:string"/>
      <xsd:element minOccurs="0" name="refusjonskrav" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="versjon" type="xsd:string"/>
            <xsd:element minOccurs="0" name="endringsInfo" type="bons0:GBOEndringsInfo"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
