src/main/resources/wsdl/no/nav/lib/sto/gbo/GBOSamordningPerson.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-lib-sto/no/nav/lib/sto/gbo" xmlns:bons1="http://stelvio-commons-lib/no/nav/gbo" targetNamespace="http://nav-lib-sto/no/nav/lib/sto/gbo">
    <xsd:import namespace="http://stelvio-commons-lib/no/nav/gbo" schemaLocation="../../../gbo/GBOEndringsInfo.xsd"/>
    <xsd:include schemaLocation="GBOSamordningVedtak.xsd"/>
    <xsd:complexType name="GBOSamordningPerson">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fnr" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="samordningVedtakListe" type="bons0:GBOSamordningVedtak"/>
            <xsd:element minOccurs="0" name="endringsInfo" type="bons1:GBOEndringsInfo"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
