src/main/resources/wsdl/no/nav/lib/sto/gbo/GBOVarsleEndringPersonaliaRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-lib-frg/no/nav/lib/frg/gbo" targetNamespace="http://nav-lib-sto/no/nav/lib/sto/gbo">
    <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo" schemaLocation="../../frg/gbo/GBOPerson.xsd"/>
    <xsd:complexType name="GBOVarsleEndringPersonaliaRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="tpnr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="gammeltFnr" type="xsd:string"/>
            <xsd:element minOccurs="0" name="tssEksternId" type="xsd:string"/>
            <xsd:element minOccurs="0" name="person" type="bons0:GBOPerson"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
