src/main/resources/wsdl/no/nav/lib/sto/gbo/GBOVarsleTPSamordningRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-lib-sto/no/nav/lib/sto/gbo" targetNamespace="http://nav-lib-sto/no/nav/lib/sto/gbo">
    <xsd:include schemaLocation="GBOSamordningInfo.xsd"/>
    <xsd:complexType name="GBOVarsleTPSamordningRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="tpnr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tssEkstenId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fnr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="samordningInfo" type="bons0:GBOSamordningInfo"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
