src/main/resources/wsdl/no/nav/lib/pen/gbo/GBOHentBeholdningListeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo">
	<xsd:complexType name="GBOHentBeholdningListeRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="fnr" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="fomDato"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="tomDato"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
