src/main/resources/wsdl/no/nav/lib/pen/gbo/GBOOpptjeningGrunnlag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/gbo" targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo">
    <xsd:include schemaLocation="GBOInntekt.xsd"/>
    <xsd:include schemaLocation="GBOOpptjening.xsd"/>
    <xsd:complexType name="GBOOpptjeningGrunnlag">
    <xsd:sequence>
            <xsd:element minOccurs="0" name="fnr" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="inntekter" type="bons0:GBOInntekt"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="opptjeninger" type="bons0:GBOOpptjening"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
