src/main/resources/wsdl/no/nav/lib/pen/gbo/GBOPersonOpptjeningsgrunnlag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/gbo"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo">
	<xsd:include schemaLocation="GBOOpptjeningsgrunnlag.xsd" />
	<xsd:complexType name="GBOPersonOpptjeningsgrunnlag">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="fnr" type="xsd:string" />
			<xsd:element minOccurs="0" name="fodselsdato"
				type="xsd:string">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0"
				name="opptjeningsgrunnlag" type="bons0:GBOOpptjeningsgrunnlag" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
